In [38]:
import pandas as pd
import os

In [42]:
DATA_SOURCE = os.path.join(os.getcwd(), "data")
df = pd.read_excel(os.path.join(DATA_SOURCE, "Covid cases in India.xlsx"))
df_India = df.copy()
df

,S. No.,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death
0,1,Andhra Pradesh,2,0,0,0
1,2,Chhattisgarh,1,0,0,0
2,3,Delhi,16,1,3,1
3,4,Gujarat,2,0,0,0
4,5,Haryana,3,14,0,0
5,6,Karnataka,15,0,0,1
6,7,Kerala,26,2,3,0
7,8,Maharashtra,44,3,0,1
8,9,Odisha,2,0,0,0
9,10,Puducherry,1,0,0,0
10,11,Punjab,2,0,0,1
11,12,Rajasthan,5,2,3,0
12,13,Tamil Nadu,3,0,1,0
13,14,Telengana,7,9,1,0
14,15,Union Territory of Chandigarh,1,0,0,0
15,16,Union Territory of Jammu and Kashmir,4,0,0,0
16,17,Union Territory of Ladakh,10,0,0,0
17,18,Uttar Pradesh,18,1,9,0
18,19,Uttarakhand,1,0,0,0
19,20,West Bengal,1,0,0,0

In [43]:
df.drop(['S. No.'], axis=1, inplace=True)
df['Total Cases'] = df['Total Confirmed cases (Indian National)'] + df['Total Confirmed cases ( Foreign National )']
df

,Name of State / UT,Total Confirmed cases (Indian National),Total Confirmed cases ( Foreign National ),Cured,Death,Total Cases
0,Andhra Pradesh,2,0,0,0,2
1,Chhattisgarh,1,0,0,0,1
2,Delhi,16,1,3,1,17
3,Gujarat,2,0,0,0,2
4,Haryana,3,14,0,0,17
5,Karnataka,15,0,0,1,15
6,Kerala,26,2,3,0,28
7,Maharashtra,44,3,0,1,47
8,Odisha,2,0,0,0,2
9,Puducherry,1,0,0,0,1
10,Punjab,2,0,0,1,2
11,Rajasthan,5,2,3,0,7
12,Tamil Nadu,3,0,1,0,3
13,Telengana,7,9,1,0,16
14,Union Territory of Chandigarh,1,0,0,0,1
15,Union Territory of Jammu and Kashmir,4,0,0,0,4
16,Union Territory of Ladakh,10,0,0,0,10
17,Uttar Pradesh,18,1,9,0,19
18,Uttarakhand,1,0,0,0,1
19,West Bengal,1,0,0,0,1